<.flash_group flash={@flash} />

<%= if @current_user do %>
  <section>
    <p>TODO: Dashboard?</p>
  </section>
<% else %>
  <section>
    <h1>Impress your Friends with Word Game Mastery</h1>
    <p>Insert witty copy here.</p>
    <.button href={~p"/users/register"}>Sign Up</.button>
    <.button href={~p"/users/log_in"}>Log In</.button>
  </section>
<% end %>