<section>
    <ul>
        <li><a href={~p"/scores"}>Scores (old)</a></li>
        <li><a href={~p"/scorekeeper"}>Scorekeeper</a></li>
        <li><a href={~p"/games"}>Games Admin</a></li>
        <li><a href={~p"/dev/dashboard"}>Dev Dashboard</a></li>
    </ul>
</section>

