<section>
    <h2>Users</h2>
    <div>
        <a href={~p"/users/new"}>New User</a>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Notes</th>
        </tr>
        <%= for user <- @users do %>
        <tr>
            <td><a href={~p"/users/#{user.id}"}><%= user.name %></a></td>
            <td><%= user.notes %></td>
        </tr>
        <% end %>
    </table>
</section>
