@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Colors */
:root {
    --bg1: #09090b; /* tailwind/zinc-950 */
    --bg1-50o: #09090b7f;
        /* tailwind/zinc-950 with 50% opacity */
    --bg2: #18181b; /* tailwind/zinc-900 */
    --fg1: #fafafa; /* tailwind/zinc-50 */
    --mint0: rgb(20, 199, 190);
    --mint1: rgb(12, 129, 123);
    --mint2: rgb(40, 148, 143);
    --gray: rgb(80, 90, 90);
    
}
.bg-primary { background-color: var(--mint1); }
.fg-primary { color: var(--mint0); }
.bg1 { background-color: var(--bg1) }
.bg1-50o { background-color: var(--bg1-50o) }

/* Main content */
body { 
    background-color: var(--bg1);
    color: var(--fg1);
}

h1, .h1 { font-size: 1.75em; }
h2, .h2 { font-size: 1.50em; }
h3, .h3 { font-size: 1.25em; }

/* Tables */
tbody tr:hover {
    background-color: var(--gray);
}

/* Input */
input, textarea {
    background-color: var(--bg2) !important;
    caret-color: var(--mint0); 
    color: var(--fg1);
}

[type='checkbox']:checked {
    background-color: var(--mint1) !important;
}

.button {
    background-color: var(--mint1);
}

.button:hover {
    background-color: var(--mint2);
}

/* Menu */
.menu,
.menu ul { list-style: none; }

.menu ul { 
    position: absolute; top: 36px; right: 0; width: 200px; display: none;
}
.menu li { position: relative; padding: 8px 0; }

.menu ul li { 
    float: none; background-color: var(--bg1); margin: 0; padding: 4px; line-height: 25px; 
}

.menu li:hover,
.menu li:hover > a, 
.menu ul li:hover,
.menu ul li:hover a {
    background-color: var(--mint1);
    color: var(--fg1);
}

.menu a:link,
.menu a:visited {
    display: block;
    text-align: left; text-decoration: none;
    color: var(--fg1);
}

.menu li:hover ul {
    display: block;
}

/* Charts */
.plot { 
    fill: var(--mint1);
    background: var(--bg2) !important;
}
g[aria-label="tip"] {
    fill: var(--mint1);
    
}
g>text {
    fill: white;
}