<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:game]} type="text" label="Game" />
  <.input field={f[:game_no]} type="text" label="Game no" />
  <.input field={f[:solution]} type="text" label="Solution" />
  <.input field={f[:release_date]} type="date" label="Release date" />
  <:actions>
    <.button>Save Game</.button>
  </:actions>
</.simple_form>
