<!-- TODO: Test and fix for phone -->
<section>
    <.form for={@changeset} action={~p"/scores/"}>
        <.header>
            Add Score: <%= @user.name %>
            <:actions>
                <.button type="submit">Save</.button>
            </:actions>
        </.header>
        <.input label="Paste your score here:" id="input" type="textarea" name="score[input]" value={@changeset.data.input} autofocus></.input>
    </.form>
</section>