<section>
    <ul>
        <li><a href={~p"/scorekeeper"}>Scorekeeper</a></li>
        <li><a href={~p"/dev/dashboard"}>Dev Dashboard</a></li>
        <li><a href={~p"/nail_watch"}>Nailwatch</a></li>
    </ul>
</section>

